// Allow forms with buttons-as-links in dropdown menus to enable POST-ing
.navbar-nav > li > a {
  line-height: 26px;
}
.dropdown-menu > li > form {
  width: 100%;
  .btn-link {
    width: 100%;
    text-align: left;
    padding: 3px 20px;
    color: $dropdown-link-color;
    background-color: $dropdown-bg;
    &:hover {
      color: $dropdown-link-hover-color;
      background-color: $dropdown-link-hover-bg;
      text-decoration: none;
    }
  }
}

.form-group.non-margined {
  margin-left: auto;
  margin-right: auto;
}

.hr-break {
  padding-top: 2em;
  padding-bottom: 1.5em;
  & div {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
    & span {
      font-style: italic;
      background: #fff;
      padding: 0 10px;
    }
  }
}

.footer {
  margin-top: 4em;
  width: 100%;
  padding: 1em 0em;
  background-color: $brand-primary;
  color: white;
  text-align: center;
  a, a:visited, a:hover, a:active { color: white; }
  .links {
    ul {
      display: inline-block;
      vertical-align: top;
      text-align: left;
    }
  }
}

.edit-region {
  position: relative;
  .admin-edit-link {
    font-size: 14px;
    font-style: normal;
    text-decoration: underline;
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.95);
    padding: 5px;
    color: rgba(0, 128, 255, 1);
    border-radius: 2px;
    box-shadow: 0px 1px 1px #999;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 10000;
  }
}
.edit-region.editable:hover {
  outline: 2px dashed rgba(0, 128, 255, 0.4);
  & > a.admin-edit-link {
    display: inline;
  }
}

.connection {
  position: absolute;
  z-index: 1000000;
  left: 0;
  top: 1em;
  width: 100%;
  text-align: center;
  &.open {
    pointer-events: none;
  }
  & > div {
    display: inline-block;
    color: white;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 2px 2px 10px #000;
    border-radius: 5px;
    padding: 0.2em 1em;
    text-align: center;
    opacity: 1;
  }
  &.open > div {
    opacity: 0;
    transition: opacity 0.5s ease-out;
  }
}
