{% load render_bundle from webpack_loader %}
{% load static %}
{% load escapejson %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='icon' href='{% static "img/favicon.png" %}'>
  <title>{% block head_title %}{% endblock %}{% block title %}{% endblock %}{% block site_title %} - {{request.site.name}}{% endblock %}</title>
  {% block styles %}
    {% render_bundle 'frontend' 'css' %}
  {% endblock %}
  <script type='text/javascript'>window.__SETTINGS__ = {{public_settings|escapejson}};</script>
  {% block head %}{% endblock %}
</head>
<body>
<div id='wrapper'>
  <div id='body'>
    {% block navbar %}{% include "_navbar.html" %}{% endblock %}
    {% block main %}
      {% block content %}{% endblock %}
    {% endblock %}
  </div>
  <footer>{% block footer %}{% include "_footer.html" %}{% endblock %}</footer>
</div>
{% block scripts %}
  {% render_bundle 'frontend' 'js' %}
{% endblock %}
</body>
</html>
