.in-place-editor {
  padding: 2px 8px;
  border: 1px solid transparent;
  border-radius: 4px;

  &.editable {
    &:hover {
      border-color: #ccc;
    }
  }
  &.editing {
    border-color: #66afe9;
    background-color: white;
    input {
      border: none;
      width: 100%;
      height: 100%;
    }
  }
}
