.breakout-list-header {
  background-color: #2e7daa;
  padding: 15px;
  .btn-default {
    color: #2e7daa;
    margin: 5px;
  }
  img {
    max-width: 24px;
    max-height: 24px;
  }
  h4 {
    color: white;
  }
}

.breakout-list-item {
  $breakout-list-item-margin: 5px;
  $join-width: 40px;

  position: relative;
  width: calc(100% - (#{$breakout-list-item-margin}*2));
  margin: $breakout-list-item-margin;
  margin-bottom: $breakout-list-item-margin*2;
  border-radius: 5px;

  &.proposal {
    border: 2px dashed #2e7daa;
  }

  .breakout-list-item-row {
    position: relative;
    min-height: 75px;
    background-color: #eee;
  }

  .breakout-list-item-left-col {
    width: calc(100% - #{$join-width});
    padding: 0.5em;
  }

  .breakout-list-item-right-col {
    width: $join-width;
  }

  .breakout-title {
    word-wrap: break-word;
    max-width: 100%;
  }

  .breakout-assignees-container {
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    background-color: #eee;
    img {
      width: 18px;
      height: 18px;
    }
    .members-avatars-container {
      margin-left: 5px;
    }
  }

  .breakout-presence {
    position: relative;
    .slot {
      position: relative;
      width: 32px;
      height: 32px;
      margin-right: 2px;
      display: inline-block;
      vertical-align: middle;
      border-radius: 5px;
      margin-top: 2px;
      &.empty {
        border: 1px solid #ccc;
      }
    }
    img {
      width: 100%;
      height: 100%;
    }
  }

  .breakout-proposed-by-container {
    font-size: .75em;
    line-height: 3em;
    img {
      width: 18px;
      height: 18px;
      margin-left: 5px;
    }
    float: right;
  }

  .join-btn, .vote-btn {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: $join-width;
    border-radius: 0px 5px 5px 0px;
  }
  .join-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .approve-btn, .unapprove-btn {
    float: right;
    margin-left: 5px;
  }

  .delete-btn {
    color: black;
    &:hover {
      color: white;
      background-color: red;
      border-radius: 5px;
    }
  }
  .join-btn, .vote-btn, .approve-btn, .unapprove-btn {
    color: #fff;
    border-color: #2e7daa;
    background-color: #2e7daa;
  }
}

