.chat-container {
  overflow: auto; // Needed for firefox. Not redundant.
  width: 100%;
  background-color: #eee;
  // as child
  flex-grow: 2;
  // as parent
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .chat-box {
    overflow: auto;
    width: 100%;
  }
  .chat-input {
    .form-group { margin: 5px };
    .input-group-addon { padding: 0px; }
    label { margin-bottom: 0px; }
    input[type="checkbox"] { display: none; }
    input[type="checkbox"] ~ label span {
      display: inline-block;
      cursor: pointer;
      font-size: 1.25em;
      vertical-align: middle;
      margin: 5px;
    }
    input[type="checkbox"]:checked ~ label span {
      color: #cc0000;
    }
  }
}

.chat-message {
  margin-top: 10px;
  width: 100%;
  // as parent
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  &:nth-child(even) {
    background-color: #eee;
  }
  &:nth-child(odd) {
    background-color: #f2f2f2;
  }
  &.highlight {
    background-color: #e6f7ff;
  }

  .user-avatar {
    img {
      height: 2em;
      margin: 0px 10px;
    }
  }

  .chat-message-text {
    // TRICKY: http://stackoverflow.com/a/36150764
    min-width: 10%;
    word-wrap: break-word;
    .userName {
      font-weight: 900;
      color: #2c2d30
    }
    .atname {
      font-weight: bold;
      &.self {
        background-color: #ffe800;
      }
    }
  }
}
