.plenary-embed iframe {
  width: 100%;
  height: 320px;
}

.embed-admin-controls {
  background-color: #f3bd71;
  padding: 10px;
  }
.button-flex-container {
  display: flex;
  flex-flow: row wrap;
  flex-just: space-around;
}
.play-button {
  flex-grow: 1;
  margin: 0px 5px 5px 5px;
}
.remove-button {
  flex-grow: 1; 
  margin: 0px 5px 5px 5px;
}

.sync-indicator {
  display: inline-block;
  vertical-align: middle;
  margin-top: 0;
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #aaa;
  box-shadow: 0px 0px 5px rgba(200, 200, 200, 1);
  &.synced {
    background-color: #0f0;
    box-shadow: 0px 0px 5px rgba(0, 200, 0, 1);
  }
  &.unsynced {
    background-color: #f00;
    box-shadow: 0px 0px 5px rgba(200, 0, 0, 1);
  }
}
.previous-embed-list-item {
  width: 240px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  .previous-embed-list-item-thumbnail {
  }
  .previous-embed-list-item-title {
    flex: 2 1 auto;
    display: block;
    font-size: 12px;
    line-height: 1.1;
    height: 3.3 * 12px + 5px;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-words;
    max-width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    // text-overflow: ellipsis; not supported with word wrap.
  }
  .previous-embed-list-item-delete i {
    display: inline-block;
    padding: 5px;
    &:hover {
      color: white;
      background-color: red;
    }
  }
}

