.plenary {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .plenary-grid {
    // as child
    flex-grow: 2;
    overflow: hidden;
    // as parent
    display: flex;
    flex-direction: row;
    .column {
      position: relative;
      // as child
      flex-grow: 2;
      // as parent
      display: flex;
      flex-direction: column;
    }
    .users-col {
      width: 25%;
    }
    .chat-col {
      width: 40%;
    }
    .breakout-col {
      width: 35%;
      overflow: auto;
    }
  }
}
