.plenary-info-container {
  background-color: #2e7daa;
  color: #fff;
  border-bottom-right-radius: 0px;
  padding: 10px;
  a {
    color: white;
    font-weight: bold;
    &:hover {
      color: #ddd;
      text-decoration: underline;
    }
  }
}

