.plenary-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.plenary-list-item {
  padding: 1em;
  border: 2px solid #dfdfdf;
  border-radius: 1px;
  .image {
    width: 300px;
    height: 200px;
    background-color: #ddd;
  }
  .name {
    font-size: 1.4em;
  }
}
