.presence-container {
  overflow: auto;
	flex-grow: 1;
	.presence-controls {
		display:flex;
		flex-flow: row wrap;
		justify-content: flex-start;
		align-items: center;
		.presence-counter {
			margin: 5px;
		}
		.grid-button {
			margin-left: auto;
		}
		.btn {
			margin-right: 5px;
		}
	}
	.presence{
		display: flex;
		flex-flow: row wrap;
		margin: 5px;
		margin-top: 0px;
		.user-avatar img {
			width: 48px;
			height: 48px;
			border-radius: 5px;
			margin: 5px;
		}
		.user-details {
			width: 100%;
		}
	}
}
