.title-button {
  background-color: #2e7daa;
  color: white;
  width: 100%;
  cursor: pointer;
  &:hover, &:active, &:focus {
    background-color: #32637e;
  }
  .title {
    font-weight: bold;
    font-size: 1.4em;
  }
  .user {
    font-size: 1em;
    font-weight: normal;
  }
  padding: 10px;
}
.labeled-switch {
  padding: 0.3em 0.2em;
  &:hover {
    background-color: #ddd;
    border-radius: 5px;
  }
}

.title-menu-overlay {
  position: absolute;
  z-index: 1000;
  background-color: white;
  color: black;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  border: 1px solid #ccc;
  top: 10px;
  width: 240px;
  max-width: 100%;
  border-radius: 5px;
  padding: 1em;
  
  & div.menu-item > a {
    display: block;
    color: black;
    text-decoration: none;
    &:hover {
      background-color: #2E7DAA;
      color: white;
    }
    padding: 0.2em;
    border-radius: 5px;
  }

  & div.menu-item {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
  }

  & > .user {
    img {
      width: 32px;
      height: 32px;
      border-radius: 5px;
      margin-right: 5px;
      float: left;
    }
  }
  hr {
    border-top: 1px solid #ccc;
    margin-top: 1em;
    margin-bottom: 1em;
  }

}
