.whiteboard {
  .whiteboard-button {
    float: right;
    display: inline-block;
    position: relative;
    top: -1px;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #e1e1e8;
    border-top: none;
    padding: 2px 8px;
    margin-right: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
  }
  .panel {
    margin:0px;
  }
  .panel-body {
    border: none;
  }
}
