$breakout-left-col-width: 200px;
.breakout-left-col {
  width: $breakout-left-col-width;
  float: left;
  height: 100vh;
  overflow: auto;
}
.breakout-right-col {
  width: calc(100% - #{$breakout-left-col-width});
  height: 100vh;
  overflow: hidden;
  float: left;

  .jitsi-video {
    width: 100%;
    height: 100%;
    & > div {
      width: 100% !important;
      height: 100% !important;
    }

    iframe {
      width: 100%;
      height: 100%;
      object-fit: contain;
      border: none;
    }
  }
}
.breakout-title-container {
  word-wrap: break-word;
  background-color: #2e7daa;
  color: #fff;
  padding: 20px;
  margin-bottom: 5px;
}

.breakout-messages {
  position: absolute;
  max-width: 300px;
  top: 1em;
  left: 1em;
  background-color: #69f;
  color: white;
  padding: 1em;
  border-radius: 5px;
  li {
    list-style-type: none;
  }
  box-shadow: 0px 0px 5px #666;
}
