{% extends "base.html" %}
{% load thumbnail %}

{% block title %}Upcoming Events{% endblock %}

{% block content %}
  <div class='container'>
    <a class='btn btn-primary btn-large pull-right' href='{% url "plenary_add" %}'>
      <i class='fa fa-plus'></i> Add a New Event
    </a>
    <h1>Upcoming Events</h1>
    <div class='plenary-list'>
    {% for plenary in plenaries %}
      <div class='plenary-list-item'>
        <div class='image'>
          {% if plenary.image %}
            {% thumbnail plenary.image "300x200" padding=True as thumb %}
              <a href='{{ plenary.get_absolute_url}}'>
                <img src='{{ thumb.url }}' width='300' height='200' alt='' />
              </a>
            {% endthumbnail %}
          {% else %}
              <a href='{{ plenary.get_absolute_url}}'>
                <span style='display: inline-block; width: 300px; height: 200px;'></span>
              </a>
          {% endif %}
        </div>
        <div class='name'>
          <a href='{{plenary.get_absolute_url}}'>{{ plenary.name }}</a>
        </div>
        <div class='organizer'>
          {{ plenary.organizer }}
        </div>
        <div class='date'>
          <span class='start-date' data-date='{{plenary.start_date.isoformat}}'
                title='{{plenary.start_date.isoformat}}'>
            {{ plenary.start_date|date:"M j, Y" }}
          </span>
          <span class='start-time' data-date='{{plenary.start_date.isoformat}}'
                title='{{plenary.start_date.isoformat}}'>
            {{ plenary.start_date|date:"H:i" }}
          </span>
          &mdash;
          <span class='end-time' data-date='{{plenary.end_date.isoformat}}'
                title='{{plenary.end_date.isoformat}}'>
            {{ plenary.end_date|date:"H:i T" }}
          </span>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
{% endblock %}
